body {
    font-family: 'Amiri', serif;
    font-family: 'Redressed', 'cursive';
}
/* Body background*/
.bg-body {
    background-image: linear-gradient(90deg, white, rgb(230, 236, 147));
}
/*heading setup */
h1 {
    color: darkorange;
    text-align: center;
    padding-top: 7%;
    font-size: 700;
}
/*sub-heading setup */
h3 {
    color: rgb(230, 153, 11);
    text-align: center;
}
/* Section body setup */
.bg-section {
    background-image: url("image/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Shadow effect */
.effect-div {
    text-align: justify;
    box-shadow: 5px 12px 20px gray;
}
/* Division image setup */
.div-img {
    width: 95%;
    height: 200px;
    margin: 10px;
}
/* Image shadow setup */
.shadow-img {
    box-shadow: 3px 6px 10px lightcyan;
}
/* Footer box section */
.footer {
    text-align: center;
    margin: 0;
    font-size: 0.8em;
}
/* row class setup for responsive */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*='tab-'] {
    float: left;
}
[class*="tab-"] {
    width: 100%;
  }
  
/* Media responsive windows */
@media only screen and (min-width: 500px) {
    /* For tablets: */
    .tab-s {
        width: 98%;
        padding: 1%;
    }
  }
  @media only screen and (min-width: 700px) {
    /* For desktop: */
    .tab-m {
        width: 48.5%;
        padding: 0.75%;
    }
  }
  @media only screen and (min-width: 1000px) {
    /* For desktop: */
    .tab-ml {
        width: 32.33%;
        padding: 0.5%;
    }
  }
  @media only screen and (min-width: 1200px) {
    /* For desktop: */
    .tab-l {
        width: 24.5%;
        padding: 0.25%;
    }
  }