body {
    background-image: url(../images/C:\WebDevlopment\CSS-WebPage-01\Background.jpg);
}
h1 {
    color: darkorange;
}

h3 {
    color: lightcoral;
}

#section_style {
    color: darkgray;
    border: .5px black solid; 
}

.division_style{
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid gray;
    position: relative;
    float: left;
    width: 30%;
    height: 400px;
    padding: .5%;
    margin: .5%;
    box-shadow: 10px gold;
}

div.division_style:hover {
    overflow: visible;
}

#shadow {
    box-shadow: 10px red;
}

.image{
    float: center;
    margin: 4.5%;
    height: 200px;
    width: 90%;
}