body {
    background-color: rgb(151, 233, 96);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: darkorange;
    text-align: center;
    padding-top: 7%;
}

h3 {
    color: lightcoral;
    text-align: center;
    padding: 3% 0%;
}

#section_style {
    color: darkgray;
    border: .5px black solid; 
}

.division_style{
    color: white;
    background-color: rgb(54, 50, 50); 
    border: 1px solid gray;
    position: relative;
    float: left;
    width: 30%;
    padding: 0.4%;
    margin: 1%;
}